
{% block content %}
{% include 'header.html' %}

<section class="vh-100 login-page">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-dark text-white" style="boarder-radius: 1rem;">
					<div class="card-body p-5 text-center">
						<form action="{{ url_for('login') }}" method="post">
							<div class="mb-md-5 mt-md-4 pb-5">
								<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
								<p class="text-white-50 mb-5">Welcome to TodoList</p>


								{% with messages = get_flashed_messages() %}
        						{% if messages %}
          							{% for message in messages %}
            							<p>{{ message }}</p>
         							 {% endfor %}
        						{% endif %}
      							{% endwith %}

								<div class="form-outline form-white mb-4">
									<input type="email" placeholder="Enter Email" name="email" required="required"
										   class="form-control form-control-lg">
								</div>

								<div class="form-outline form-white mb-4">
									<input type="password" placeholder="Enter Password" name="password" required="required"
										   class="form-control form-control-lg">
								</div>

								<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
							</div>

							<div>
								<p class="mb-0">Don't have an account?
									<a href="{{ url_for('register') }}" class="text-white-50 fw-bold">Sign Up</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}