{% block content %}
{% include 'header.html' %}

<section class="vh-100 register-page">
	<div class="container py-5">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-dark" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">

						<form action="{{ url_for('register') }}" method="post">
							<div class="mb-md-5 mt-md-4 pb-5">
								<h2 class="fw-bold mb-2 text-uppercase">Register</h2>
								<p class="text-50 mb-5">Please enter your email and password</p>

								<!-- Email -->
								<div class="form-outline form-dark mb-4">
									<input type="email"
										   placeholder="Enter email"
										   name="email"
										   required="required"
										   class="form-control form-control-lg">
								</div>

								<!-- Password -->
								<div class="form-outline form-dark mb-4">
									<input type="password"
										   placeholder="Enter Password"
										   name="password"
										   required="required"
										   class="form-control form-control-lg">
								</div>

								<button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
							</div>

							<div>
								<p class="mb-0">Already have an account?
									<a href="{{ url_for('login') }}"
									   class="text-50 fw-bold">Login</a>
								</p>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}