<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>Image Color Palette Generator</title>
</head>
<body>
	<div class="box">
		<h1 class="heading">Generate Color Palette from Image</h1>
		<form action="{{ url_for('result') }}" method="POST" enctype="multipart/form-data">
			<div class="input-file-container">
				<input class="input-file" id="my-file" type="file" name="file">
			</div>
			<input type="submit" class="submit-button">
		</form>
	</div>
</body>
</html>